@{ 
    var imgUrl = "https://images.pristineauction.com/46/464760/main_1-Wile-E-Coyote-Wile-E-Coyote-Looney-Tunes-LE-16x20-Giclee-CM-COA-WB-Hologram-PristineAuction.com.jpg";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-danger">Fin del camino!</h1>
        <img class="rounded" src="@imgUrl" alt="coyote cayendo" style="max-width: 750px" />
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Go Home!</a>
    </div>
</div>